[Unit]
Description=HPC-bot for Discord

[Service]
Type=simple
ExecStart=/bin/bash -a -c 'source %h/.bashrc && exec hpc_bot -c %h/.local/etc/hpc_bot/hpc_botrc.json'

[Install]
WantedBy=default.target
